.app .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .app .flex-row .component {
    padding: 20px; }
  .app .flex-row .settings {
    padding: 20px; }
  .app .flex-row .field {
    display: block;
    padding: 5px; }
    .app .flex-row .field .label {
      font-size: 0.8em; }
    .app .flex-row .field .control {
      padding: 5px 0; }

.app .selected-date-preview {
  text-align: center; }
